<!doctype html>
<html lang="en">
<head>
    <title>VPB </title>
</head>
<body>
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center ">
        <h1 >HELLO</h1>
        <br>
        <a href="/api/auth/google/login">Đăng Nhập</a>
    </div>
</header>
</body>
</html>